.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  border: 1px solid transparent;
  border-radius: var(--radius);
  font: inherit;
  cursor: pointer;
}

.default {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.small {
  
}

.medium {

}

.large {

}